<div class="{{ content.field_card_bootstrap_class.0 }} my-3">
    <div class="card-wrap">
        <div class="card-wrap-head">
            {{ content.field_card_icon }}
            <h5><a href="#">{{ content.field_card_title }}</a></h5>
        </div>
        <p>{{ content.field_card_description }}</p>
        
    </div>
</div>