<section class="steps" style="background-image:url('{{ content.field_background_image.0 }}')" >
	<div class="container">
		<div class="row text-center">
			<h6>{{ content.field_top_text }}</h6>
			<h2>{{ content.field_title}}</h2>
		</div>
		<div class="row">
			{{ content.field_inner_next_step_section }}
		</div>

	</div>
</section>