<section class="book-consultation" style="background-image:url('{{ content.field_background_image.0 }}')">
	<div class="container">
		<div class="row">
			<h2 >
				{{ content.field_title}}
			</h2>
		</div>
	</div>	
</section>