
<section class="top-banner" style="background-image:url('{{ content.field_background_image.0 }}')">
	<div class="container">
		<div class="row">
	      {{ content.field_top_bar_inner_section }}
		</div>
	</div>
</section>