<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-left">
                    <!-- <h6>— OUR STORY —</h6> -->
                    <h2>{{ content.field_title }}</h2>
                    <p>{{ content.field_description }}</p>
                </div>
                {{ content.field_accordion_section }}
            </div>
            <div class="col-xl-5">
                <div>
                    {{ content.field_image }}
                </div>
            </div>
        </div>
    </div>
</section>