<div class="col-lg-3 col-sm-6">
    <div class="card-wrap">
        <div class="card-wrap-head">
            {{ content.field_card_icon }}
        </div>
        <h5> <a href="#">{{ content.field_card_title }}</a></h5>
        <p>{{ content.field_card_description }}</p>
    </div>
</div>