<div class="col-md-4">
    <div class="other-services-head">
        {{ content.field_icon}}
        <h5>{{ content.field_title }}</h5>
    </div>
    <div class="other-services-content">
        
        <h6>{{ content.field_list_text }}</h6>
    </div>
</div>