<div class="primary-service">
    <div class="container">
        <div class="row">
            <div>
                <h2>{{ content.field_title }}</h2>
            </div>
            {{ content.field_service_point }}
        </div>
    </div>
</div>



